<% if @the_followed == @current_user %>
<h1>My Followers</h1>
<% else %>
<h1> <%= @the_followed.username %>'s Followers</h1>
<% end %>

<% if @pending_followers.count != 0 && @the_followed == @current_user %>
  <h3>Respond to Your Follow Requests!</h3>
  <table border="1">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Received</th>
        <th>Respond</th>
      </tr>
      <% @pending_followers.each do |a_request| %>
      <tr>
        <td><a href="/users/<%= a_request.sender.id %>"><%= a_request.sender.username %></a></td>
        <td><%= a_request.sender.first_name %></td>
        <td><%= a_request.sender.last_name %></td>
        <td><%= time_ago_in_words(a_request.created_at) %> ago</td>
        <td>
          <form action="/modify_follow_request/<%= a_request.id %>" method="post">
            <input type="hidden" value="<%= a_request.sender_id %>" name="query_sender_id">
            <input type="hidden" value="<%= @current_user.id %>" name="query_recipient_id">
            <input type="hidden" value="accepted" name="query_status"><button class="btn btn-outline-success btn-sm btn-width-lg">Accept</button>
          </form>
          
          <a href="/delete_follow_request/<%= a_request.id %>"><button type="button" class="btn btn-outline-danger btn-sm btn-width-lg">Decline</button></a>
        </td>
      </tr>
      <% end %>
    <table>
<% else %>
<% end %>

<% if @current_followers.count != 0 %>
  <h3>Followers</h3>
  <table border="1">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Follower Since</th>
        <th>Modify</th>
      </tr>
      <% @current_followers.each do |a_follower| %>
      <tr>
        <td><a href="/users/<%= a_follower.sender.id %>"><%= a_follower.sender.username %></a></td>
        <td><%= a_follower.sender.first_name %></td>
        <td><%= a_follower.sender.last_name %></td>
        <td><%= time_ago_in_words(a_follower.created_at) %> ago</td>
        <td><a href="/delete_follow_request/<%= a_follower.id %>"><button type="button" class="btn btn-outline-danger btn-sm btn-width-lg">Remove</button></a></td>
      </tr>
      <% end %>
    <table>
<% else %>
<% end %>