<% if @the_follower == @current_user %>
<h1>My Following</h1>
<% else %>
<h1> <%= @the_follower.username %>'s Following</h1>
<% end %>

<% if @pending_following.count != 0 && @the_follower == @current_user %>
  <h3>Pending Requests</h3>
  <table border="1">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Request Sent</th>
        <th>Modify</th>
      </tr>
      <% @pending_following.each do |a_request| %>
      <tr>
        <td><a href="/users/<%= a_request.recipient.id %>"><%= a_request.recipient.username %></a></td>
        <td><%= a_request.recipient.first_name %></td>
        <td><%= a_request.recipient.last_name %></td>
        <td><%= time_ago_in_words(a_request.created_at) %> ago</td>
        <td><a href="/delete_follow_request/<%= a_request.id %>"><button>Withdraw</button></a></td>
      </tr>
      <% end %>
    <table>
<% else %>
<% end %>

<% if @current_following.count != 0 %>
  <h3>Following</h3>
  <table border="1">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Following Since</th>
        <th>Modify</th>
      </tr>
      <% @current_following.each do |a_following| %>
      <tr>
        <td><a href="/users/<%= a_following.recipient.id %>"><%= a_following.recipient.username %></a></td>
        <td><%= a_following.recipient.first_name %></td>
        <td><%= a_following.recipient.last_name %></td>
        <td><%= time_ago_in_words(a_following.created_at) %> ago</td>
        <td><a href="/delete_follow_request/<%= a_following.id %>"><button>Unfollow</button></a></td>
      </tr>
      <% end %>
    <table>
<% else %>
<% end %>