<div>
  <h1 class="my-new-font-head">Browse Visits for New Ideas</h1>
</div>

<div class="visit-card">
<% @list_of_visits.each do |a_visit| %>
<div  style="padding:5px">
  <div class="col mb-4">
    <div class="card">
      <img src="https://img.huffingtonpost.com/asset/580f74641a000018275bba1f.jpg?ops=crop_27_42_973_614,scalefit_630_noupscale" class="card-img-top" alt="No Image">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 14px"><a href="/users/<%= a_visit.user.id%>"><%= a_visit.user.username %></a>'s <%= a_visit.salon.salon_type %> Idea</h5>
        <div class="card-text" style="height: 100px; overflow: hidden; font-size: 12px"> 
          <%= a_visit.salon.name %>, <%= a_visit.salon.city %>, <%= a_visit.salon.state %>
          <p><%= a_visit.comment %></p>
        </div>
        <div style="height: 70px; overflow: hidden; font-size: 12px">
          <% a_visit.rating.times do %></td><i class="fas fa-star"></i><% end %> | 
          <i class="fas fa-thumbs-up"></i> <%= a_visit.likes_count %>
        <% if @current_user != nil %>
          <% like = Like.where({ :fan_id => @current_user.id, :visit_id => a_visit.id }).at(0) %>
            <% if like == nil %>
            <form action="/insert_like" method="post">
              <input type="hidden" value="<%= a_visit.id %>" name="query_visit_id">
              <p> </p>
              <button class="btn btn-primary btn-sm btn-width-sm">Like</button>
            </form>
            <% else %>
              <div>Saved for Later!</div>
              <a href="/delete_like/<%= like.id %>"><button type="button" class="btn btn-outline-danger btn-sm btn-width-sm">Unlike</button></a>
            <% end %>
        <% else %>
        <% end %>
          </div>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: 12px">Visit Occurred on <%= a_visit.visit_date.strftime('%D') %></small>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>



<div class="my-new-font-body">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="one-eighth">Visit Date</th>
      <th scope="col" class="one-eighth">Salon Name</th>
      <th scope="col" class="one-eighth">Rating</th>
      <th scope="col" class="one-eighth">Comments</th>
      <th scope="col" class="one-eighth">Image</th>
      <th scope="col" class="one-eighth">Number of Likes</th>
      <% if @current_user != nil %>
        <th scope="col" class="one-eighth">Save this Idea!</th>
      <% else %>
      <% end %>
      <th scope="col" class="one-eighth"></th>
    </tr>
  </thead>
  <% @list_of_visits.each do |a_visit| %>
  <tbody>
    <tr>
      <td class="one-eighth"><%= a_visit.visit_date.strftime('%D') %></td>
      <td class="one-eighth"><%= a_visit.salon.name %></td>
      <td class="one-eighth"><%= a_visit.rating %></td>
      <td class="one-eighth"><%= a_visit.comment %></td>
      <td class="one-eighth"><img src="https://robohash.org/<%= a_visit.id %>"></td>
      <td class="one-eighth"><%= a_visit.likes_count %></td>
      <% if @current_user != nil %>
      <td class="one-eighth">
        <% like = Like.where({ :fan_id => @current_user.id, :visit_id => a_visit.id }).at(0) %>
        <% if like == nil %>
        <form action="/insert_like" method="post">
          <input type="hidden" value="<%= a_visit.id %>" name="query_visit_id">
          <button class="btn btn-primary btn-sm btn-width-sm">Like</button>
        </form>
        <% else %>
          <p>Saved for Later!</p>
          <a href="/delete_like/<%= like.id %>"><button type="button" class="btn btn-outline-danger btn-sm btn-width-sm">Unlike</button></a>
        <% end %>
      </td>
      <% else %>
      <% end %>
      <td class="one-eighth"><a href="visits/<%= a_visit.id %>">View Details</a></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>

<div class="container-fluid">
  <table border="1">
    <tr>
      <th>Visit Date</th>
      <th>Salon Name</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>Image</th>
      <th>Number of Likes</th>
      <% if @current_user != nil %>
        <th>Save this Idea!</th>
      <% else %>
      <% end %>
      <th></th>
    </tr>
    <% @list_of_visits.each do |a_visit| %>
    <tr>
      <td><%= a_visit.visit_date.strftime('%D') %></td>
      <td><%= a_visit.salon.name %></td>
      <td><%= a_visit.rating %></td>
      <td><%= a_visit.comment %></td>
      <td><img src="https://robohash.org/<%= a_visit.id %>"></td>
      <td><%= a_visit.likes_count %></td>
      <% if @current_user != nil %>
      <td>
        <% like = Like.where({ :fan_id => @current_user.id, :visit_id => a_visit.id }).at(0) %>
        <% if like == nil %>
        <form action="/insert_like" method="post">
          <input type="hidden" value="<%= a_visit.id %>" name="query_visit_id">
          <button>Like</button>
        </form>
        <% else %>
          <p>Saved for Later!</p>
          <a href="/delete_like/<%= like.id %>"><button>Remove</button></a>
        <% end %>
      </td>
      <% else %>
      <% end %>
      <td><a href="visits/<%= a_visit.id %>">View Details</a></td>
    </tr>
    <% end %>
  </table>
</div>


<div>
  <div>
    <h1>
      List of all visits
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new visit
    </h2>

    <form action="/insert_visit" method="post">
      <div>
        <label for="visit_date_box">
          Visit date
        </label>

        <input type="date" id="visit_date_box" name="query_visit_date">
      </div>

      <div>
        <label for="salon_id_box">
          Salon
        </label>

        <input type="text" id="salon_id_box" name="query_salon_id">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="comment_box">
          Comment
        </label>

        <input type="text" id="comment_box" name="query_comment">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>

      <button>
        Create visit
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Visit date
        </th>

        <th>
          User
        </th>

        <th>
          Salon
        </th>

        <th>
          Rating
        </th>

        <th>
          Comment
        </th>

        <th>
          Image
        </th>

        <th>
          Likes count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_visits.each do |a_visit| %>
      <tr>
        <td>
          <%= a_visit.id %>
        </td>

        <td>
          <%= a_visit.visit_date %>
        </td>

        <td>
          <%= a_visit.user_id %>
        </td>

        <td>
          <%= a_visit.salon_id %>
        </td>

        <td>
          <%= a_visit.rating %>
        </td>

        <td>
          <%= a_visit.comment %>
        </td>

        <td>
          <%= a_visit.image %>
        </td>

        <td>
          <%= a_visit.likes_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_visit.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_visit.updated_at) %> ago
        </td>

        <td>
          <a href="/visits/<%= a_visit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
