<div>
  <h1 class="my-new-font-head">Browse Visits for New Ideas</h1>
</div>

<div class="my-new-font-body" style="justify-content: space-between; display:flex">
  <form action="/insert_visit" method="post">
      <label for="visit_date_box">Visit Date</label>
      <input type="date" id="visit_date_box" name="query_visit_date">
    
      <label for="salon_id_box">Salon</label>
      <select id="salon_id_box" name="query_salon_id">
        <% matching_salons = Salon.all.order(:name) %>
        <% matching_salons.each do |a_salon| %>
        <option value="<%= a_salon.id %>" selected="true"> <%= a_salon.name %> </option>
        <% end %>
      </select>

      <label for="comment_box">Comment</label>
      <input type="text" id="comment_box" name="query_comment" placeholder="Record visit notes and make suggestions!">
    
      <label for="image_box">Image</label>
      <input type="text" id="image_box" name="query_image">

      <label for="rating_box">Rating</label>
      <select id="rating_box" name="query_rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    
    <button class="btn btn-secondary btn-width-lg my-new-font-body">Log Visit</button> 
  </form>
</div>

</div>

<hr>

<div class="visit-card my-new-font-body">
<% @list_of_visits.each do |a_visit| %>
<div  style="padding:5px">
  <div class="col mb-4">
    <div class="card">
      <img src="<%= a_visit.image %>" class="card-img-top" alt="No Image" style="height:150px">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 14px"><a href="/users/<%= a_visit.user.id%>"><%= a_visit.user.username %></a>'s <%= a_visit.salon.salon_type %> Idea</h5>
        <div class="card-text" style="height: 100px; overflow: hidden; font-size: 12px"> 
          <%= a_visit.salon.name %>, <%= a_visit.salon.city %>, <%= a_visit.salon.state %>
          <p><%= a_visit.comment %></p>
        </div>
        <div style="height: 70px; overflow: hidden; font-size: 12px">
          <% a_visit.rating.times do %></td><i class="fas fa-star"></i><% end %> | 
          <i class="fas fa-thumbs-up"></i> <%= a_visit.likes_count %>
        <% if @current_user != nil %>
          <% like = Like.where({ :fan_id => @current_user.id, :visit_id => a_visit.id }).at(0) %>
            <% if like == nil %>
            <form action="/insert_like" method="post">
              <input type="hidden" value="<%= a_visit.id %>" name="query_visit_id">
              <p> </p>
              <button class="btn btn-primary btn-sm btn-width-sm">Like</button>
            </form>
            <% else %>
              <div>Saved for Later!</div>
              <a href="/delete_like/<%= like.id %>"><button type="button" class="btn btn-outline-danger btn-sm btn-width-sm ">Unlike</button></a>
            <% end %>
        <% else %>
        <% end %>
          </div>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: 12px">Visit Occurred on <%= a_visit.visit_date.strftime('%D') %></small>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>