<div>
  <h1 class="my-new-font-head">My Saved Ideas</h1>
</div>

<div class="my-new-font-body">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="one-eighth">Visit Date</th>
      <th scope="col" class="one-eighth">Salon Name</th>
      <th scope="col" class="one-eighth">Rating</th>
      <th scope="col" class="one-eighth">Comments</th>
      <th scope="col" class="one-eighth">Image</th>
      <th scope="col" class="one-eighth">Number of Likes</th>
      <% if @current_user != nil %>
        <th scope="col" class="one-eighth">Save this Idea!</th>
      <% else %>
      <% end %>
      <th scope="col" class="one-eighth"></th>
    </tr>
  </thead>
  <% @my_likes.each do |a_like| %>
  <tbody>
    <tr>
      <td class="one-eighth"><%= a_like.visit.visit_date.strftime('%D') %></td>
      <td class="one-eighth"><%= a_like.visit.salon.name %></td>
      <td class="one-eighth"><%= a_like.visit.rating %></td>
      <td class="one-eighth"><%= a_like.visit.comment %></td>
      <td class="one-eighth"><img src="<%= a_like.visit.image %>" style="height:150px; width:150px"></td>
      <td class="one-eighth"><%= a_like.visit.likes_count %></td>
      <% if @current_user != nil %>
      <td class="one-eighth">
        <% like = Like.where({ :fan_id => @current_user.id, :visit_id => a_like.visit.id }).at(0) %>
        <% if like == nil %>
        <form action="/insert_like" method="post">
          <input type="hidden" value="<%= a_like.visit.id %>" name="query_visit_id">
          <button class="btn btn-primary btn-sm btn-width-sm">Like</button>
        </form>
        <% else %>
          <p>Saved for Later!</p>
          <a href="/delete_like/<%= like.id %>"><button type="button" class="btn btn-outline-danger btn-sm btn-width-sm">Unlike</button></a>
        <% end %>
      </td>
      <% else %>
      <% end %>
      <td class="one-eighth"><a href="/visits/<%= a_like.visit.id %>">View Details</a></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>