<div>
  <h1 class="my-new-font-head">Find Salons</h1>
</div>

<div class="my-new-font-body">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="one-fifth">Salon Name</th>
        <th scope="col" class="one-fifth">Salon Type</th>
        <th scope="col" class="one-fifth">Description</th>
        <th scope="col" class="one-fifth">Address</th>
        <th scope="col" class="one-fifth"></th>
      </tr>
    </thead>
    <% @list_of_salons.each do |a_salon| %>
    <tbody>
      <tr> 
        <td class="one-fifth"><%= a_salon.name %></td>
        <td class="one-fifth"><%= a_salon.salon_type %></td>
        <td class="one-fifth"><%= a_salon.description %></td>
        <td class="one-fifth"><%= a_salon.address %></td>
        <td class="one-fifth"><a href="/salons/<%= a_salon.id %>">View Details</a></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>