<div>
  <div>
    <h1 class="my-new-font-head">
      Salon #<%= @the_salon.id %> details
    </h1>
  <div class="my-new-font-body">
    <div>
      <div>
        <a href="/salons">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_salon/<%= @the_salon.id %>">
          Delete salon
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_salon.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_salon.description %>
      </dd>

      <dt>
        Salon type
      </dt>
      <dd>
        <%= @the_salon.salon_type %>
      </dd>

      <dt>
        Street
      </dt>
      <dd>
        <%= @the_salon.street %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_salon.city %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @the_salon.state %>
      </dd>

      <dt>
        Zip code
      </dt>
      <dd>
        <%= @the_salon.zip_code %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_salon.address %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_salon.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_salon.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
</div>