<div>
  <div>
    <h1>
      List of all users
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Username
        </th>

        <th>
          First Name
        </th>

        <th>
          Last Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.id %>
        </td>

        <td>
          <%= a_user.username %>
        </td>

        <td>
          <%= a_user.first_name %>
        </td>

        <td>
          <%= a_user.last_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_user.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_user.updated_at) %> ago
        </td>

        <td>
          <a href="/users/<%= a_user.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>