<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e7f386fffd.js" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <style>
     {
      border:thin red dashed;
      box-sizing: border-box
    }
    .my-new-font-head {
      font-family: 'Roboto Condensed', sans-serif;
      color: midnightblue; 
      padding: 5px;
    }
    
    .my-new-font-body {
      font-family: 'Cabin', sans-serif;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px;  
    }

    .my-new-font-nav {
      font-family: 'Cabin', sans-serif;
      font-family: 'Roboto Condensed', sans-serif;  
    }

    .visit-card {
      padding: 0px;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
      grid-template-rows: 450px 450px 450px 450px 450px 450px;
    }

    .one-eighth {
      width: 12.5%;
      text-align: center;
    }

    .one-fifth {
      width: 20.0%;
      text-align: center;
    }

    .one-sixth {
      width: 16.67%;
      text-align: center;
    }

    .btn-width-sm {
      width:60px;
      font-size: 12px;
    }
    .btn-width-lg {
      width:75px;
      font-size: 12px;
    }
    .btn-width-nav {
      width:150px;
      padding: 0px;
      border: thin midnightblue solid;
    }
    .left-two {
      display: flex;
      justify-content: space-evenly;
    }
    .right-two {
      display: flex;
      justify-content: flex-end;
    }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

  </head>
  <body>
    <% if @current_user != nil %>
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark my-new-font-nav">
        <a class="navbar-brand" href="/">SocialSalons</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/visits">Discover<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/salons">Salons<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/<%=@current_user.id%>/visits">My Past Visits<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/<%=@current_user.id%>/likes">My Saved Ideas<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/<%=@current_user.id%>/newsfeed">My Newsfeed<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary btn-width-nav"><input type="radio" name="options" id="option2"> <a href="/edit_user_profile"><i class="fas fa-edit"></i>  <%= @current_user.username %></a></label>
              <label class="btn btn-secondary btn-width-nav"><input type="radio" name="options" id="option3"> <a href="/user_sign_out"><i class="fas fa-hand-peace"></i> Sign Out</a></label>
            </div>
          </span>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark my-new-font-nav">
        <a class="navbar-brand" href="/">SocialSalons</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/visits">Discover<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/salons">Salons<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary btn-width-nav"><input type="radio" name="options" id="option2"> <a href="/user_sign_in"><i class="fas fa-sign-in-alt"></i> Sign-In</a></label>
              <label class="btn btn-secondary btn-width-nav"><input type="radio" name="options" id="option3"> <a href="/user_sign_up"><i class="fas fa-user-plus"></i> Create Account</a></label>
            </div>
          </span>
        </div>
      </nav>
    <% end %>

    <div class="my-new-font-body">
      <%= alert %>
      <%= notice %>
    </div>
    
    <p>
      <a href="/users">All users</a>
      <a href="/salons">All salons</a>
      <a href="/visits">All visits</a>
      <a href="/likes">All likes</a>
      <a href="/follow_requests">All follow requests</a>
    </p>  
    
    <%= yield %>
  </body>
</html>
